# Git
.git
.github
.gitignore

# Environment variables
.env
.env.example

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Project specific exclusions
tests/
tmp/
logs/
data/

# SQLite databases
*.db
*.sqlite3